

<dl class='metadata-block'>
  {% for item in include.meta %}

    {% if item.value contains 'page.' %}
      {% assign key = item | remove: 'page.' %}
      {% assign value = page[key] %}
    {% elsif item.value contains 'first.' %}
      {% assign key = item  remove: 'first.'  %}
      {% assign value = page[key[0]] %}
    {% else %}
      {% assign key = item %}
      {% assign value = page[key] %}
    {% endif %}

    {% assign dict_entry = labels | where: 'field_name', key | first %}
    {% assign label = dict_entry.field_label %}
    {% assign type = dict_entry.type %}

    {% if value != '' %}

    <dt>{{ label }}</dt>


    {% if value.first %}
      <dd>
        <ul>
        {% for v in value %}
          {% if type == 'link' %}
            <li><a href="{{ v | absolute_url }}" target="_blank" rel="noreferrer">
              {{ v | strip | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }}
            </a></li>
          {% elsif type == 'internal' %}
            {% assign example = site.documents | where: 'pid', v | first %}
            <li><a href="{{ example.url | absolute_url }}">
              {{ example.label }}
            </a></li>
          {% else %}
            <li>{{ v | strip }}</li>
          {% endif %}
        {% endfor %}
        </ul>
      </dd>
    {% else %}
      {% if type == 'link' %}
        {% if key == 'manifest' %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">{{ value | absolute_url }}</a>
          {%- endcapture -%}
        {% else %}
            {%- capture value -%}
              <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">
                {{ value | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }}
              </a>
            {%- endcapture -%}
        {% endif %}
      {% elsif type == 'internal' %}
        {% assign example = site.documents | where: 'pid', value | first %}
        {%- capture value -%}
        <a href="{{ example.url | absolute_url }}">
          {{ example.label }}
        </a>
        {%- endcapture -%}
      {% endif %}

  
  
      <dd>{{ value | strip }}</dd>


        
      


    {% endif %}
    
    {% endif %}

  {% endfor %}

  <dd>
    {% for show in page.shows %}
      <br><b>{{ 'Venue: ' }}</b>{{ show.venue }}<br>
      <span class="meta-item"><b>{{ 'Location: ' }}</b>{{ show.location }}</span><br>
      <b>{{ 'Date: ' }}</b>{{ show.date }}<br>
      {% for performance in show.performances %}
          <br><p style="color:#ff6d57";><b>{{ performance.title}}</b></p>
          <b>{{ 'Genre' }}</b>:
          {{ performance.playbillGenreClaim}}<br>
          <b>{{ 'Genre tag' }}</b>:
          {% for genre in performance.ourGenreAttribution %}
            {{ genre }}
          {% endfor %}<br>
          
          {% for contributor in performance.contributors %}
            {% unless contributor.contributorName == "" %}
              <b>{{ contributor.contributorType }}</b>{{ ': ' }}{{ contributor.contributorName}}<br>
            {% endunless %}
          {% endfor %}
      {% endfor %}

      
      {% for performance in show.performances %}
          <br><p style="color:#0174DF";><b>{{'Cast List for'}} {{ performance.title}}</b></p>
          {% for p in performance.performers %}
            <b>{{ p.performerName }}</b> {{'as'}} {{ p.role }} 
            {% unless p.roleNotes == "" %}
              {{'('}}{{ p.roleNotes }}{{')'}}
            {% endunless %}
            <br>
          {% endfor %}

  

        
          {% endfor %}


      {% endfor %}
  </dd>
</dl>

<dt></dt>


