---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
- label: 'Label'
  value: page.label
- label: 'Archive Holding'
  value: page.archiveHoldingDocument
- label: 'Location'
  value: page.location
- label: 'Document printer'
  value: page.documentPrinter
- label: 'Announcements'
  value: page.announcements
- label: Venue
  value: page.venue
- label: 'Shows'
  value: page.shows
- label: 'Source'
  value: page.source
  type:  link
- label: 'IIIF Manifest'
  value: page.manifest
  type:  link
---
